
@{
    ViewData["Title"] = "Błąd";
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-danger text-center">
    <h4>Nie masz dostępu do tych treści</h4>
</div>
<a asp-action="Index" asp-controller="Home" class="btn btn-success">Ok</a>

