@model LoginViewModel
@{
    ViewData["Title"] = "Zaloguj się";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Login" method="post">
    <div class="text-danger" asp-validation-summary="All"></div>
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
    <div class="form-group">
        <label asp-for="Email">Adres email</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password">Hasło</label>
        <input asp-for="Password" class="form-control" />
    </div>
    <button class="btn btn-success" type="submit">Zaloguj się</button><br />
    <label style="margin-top:15px;">Nie masz jeszcze konta?</label>
    <a asp-action="Register" asp-controller="Account" class="nav-link" asp-route-returnUrl="@ViewBag.returnUrl">Zarejestruj się</a>
</form>

