@model RegisterViewModel
@{
    ViewData["Title"] = "Zarejestruj się";
}

<h2>@ViewData["Title"]</h2>
<hr />

<form asp-action="Register" method="post">
    <div class="text-danger">
        @Html.ValidationSummary()
    </div>
    <h3>Dane konta:</h3>
    <hr />
    <div class="form-group">
        <label asp-for="Email"></label>
        <div><span asp-validation-for="Email" class="text-danger"></span></div>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <div><span asp-validation-for="Password" class="text-danger"></span></div>
        <input type="password" asp-for="Password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <div><span asp-validation-for="ConfirmPassword" class="text-danger"></span></div>
        <input type="password" asp-for="ConfirmPassword" class="form-control" />
    </div>

    <h3>Dane uzytkownika</h3>
    <hr />
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <div><span asp-validation-for="FirstName" class="text-danger"></span></div>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <div><span asp-validation-for="LastName" class="text-danger"></span></div>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <div><span asp-validation-for="PhoneNumber" class="text-danger"></span></div>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Street"></label>
        <div><span asp-validation-for="Street" class="text-danger"></span></div>
        <input asp-for="Street" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="BuildingNumber"></label>
        <div><span asp-validation-for="BuildingNumber" class="text-danger"></span></div>
        <input asp-for="BuildingNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ApartmentNumber"></label>
        <div><span asp-validation-for="ApartmentNumber" class="text-danger"></span></div>
        <input asp-for="ApartmentNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="City"></label>
        <div><span asp-validation-for="City" class="text-danger"></span></div>
        <input asp-for="City" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ZipCode"></label>
        <div><span asp-validation-for="ZipCode" class="text-danger"></span></div>
        <input asp-for="ZipCode" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Zarejestruj się</button>
</form>
