@{
    ViewData["Title"] = "Strona główna";
}

@if(TempData["MessageSuccess"] != null)
{
    <div class="alert alert-success text-center">
        @TempData["MessageSuccess"]
    </div>
}

<div>
    <h3>@ViewData["Title"]</h3>
    <p>Witaj na stronie naszego sklepu</p>
</div>