@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" asp-action="Manage" asp-controller="Account" title="Manage">Witaj @UserManager.FindByNameAsync(User.Identity.Name).Result.FirstName!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn nav-link">Wyloguj</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Register">Zarejestruj</a></li>
        <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Login">Zaloguj</a></li>
    </ul>
}