@model ProductsListViewModel
@{
    ViewData["Title"] = "Katalog";
    Layout = "_CatalogLayout";
}

@if (Model.Category == null)
{
    <h2>Katalog</h2>
    <hr />
}
else
{
    <h2>Katalog - @Model.Category.Name</h2>
    <hr />
}


@foreach (var product in Model.Products)
{
    <partial name="_ProductCardPartial" model="@product" />
}