@model IEnumerable<Product>
@{
    ViewData["Title"] = "Katalog";
    Layout = "_CatalogLayout";
}

<h2>Katalog</h2>
<hr />

@foreach(var product in Model)
{
    <partial name="_ProductCardPartial" model="@product" />
}

